<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=”stylesheet” href=”public/stylesheets/main.css”/>
    <title>Document</title>
</head>
<body>
    <a href="/login">Login</a>
    <a href="/student/register">Student Register</a>
    <a href="/admin">Admin</a>
    <a href="/faculty/register">Faculity Register</a>
    <a href="/exam/dashboard">Exam Dashboard</a>
    <a href="/admin/action">Admin Action</a>
    <a href="/admin/store/subject">Update Subject</a>
</body>
</html>